.maze-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.maze-btn {
  background-color: rgb(46, 151, 216);
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: clamp(16px, 4vw, 40px);
  height: clamp(16px, 4vw, 40px);
  border: 1px solid white;
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}
